<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染2</title>
</head>
<body>

<div id="demo">
    <input type="text" v-model="searchName">
    <ul>
        <li v-for="(p,index) in filterPersons" :key="index">
            {{index}}---{{p.name}}---{{p.age}}
        </li>

        <button>年龄升序</button>
        <button>年龄降序</button>
        <button>原本顺序</button>

    </ul>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#demo',
        data:{
            searchName:'',
            persons: [ //vue本身只是监视了persons的改变,没有监视数组内部数据的改变
                //vue重写了数组中的一系列改变数组内部数据的方法（先调用原生，更新界面）---》数组内部改变，界面自动变化
                {name:'Tom',age: 18},
                {name:'Jack',age: 28},
                {name:'Mark',age: 38},
                {name:'Ryan',age: 48},
            ]
        },
        //计算属性的难点在于很难想到要用
        computed:{
            filterPersons() {
                //取出相关的数据
                const {searchName, persons} = this
                //最终需要显示的数组
                let fPersons;
                //对persons进行过滤
                fPersons = persons.filter(p => {

                })

                return fPersons
            }
        }
    })
</script>

</body>
</html>